<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7991161/pexels-photo-7991161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1 class="text-center">Welcome to Le Wagon WATCHLIST</h1>
  </div>
</div>
<div class="container my-3">
  <h2>Here's all your lists</h2>
  <ul>
    <% @lists.each do |list| %>
      <li><%= list.name %></li>
    <% end %>
  </ul>
</div>
