body {
  background-color: lightpink;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.col-12 {
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
